{% extends "base.html.twig" %}

{% block body %}
<div class="flex justify-center items-center flex-col h-[80vh]">

Accueil

    <a href="{{path('app_events')}}">Liste des événements -></a>

</div>
{% endblock %}